:root {
    --baby-blue: #fccb3a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--baby-blue);
    color: #fff;
    border-style: ridge;
}

h1 {
    font-size: 300%;
}

nav {
    background-color: var(--baby-blue);
    border-style: none;
}

.nav-text {
    text-align: right;
    font-size: 40px;
}

.nav-text a:hover {
    color: purple;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    color: white;
}

#about {
    display: flex;
    padding-top: 1%;
}

#about-me-description {
    font-size: larger;
}

#portfolio {
    display: flex;
}
    
#contact {
    display: flex;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

h3 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: var(--baby-blue);
    color: rgb(0, 0, 0);
    border-style: ridge;
}